body{
	background-color: #f4f4f4;

}


.container1{
	background-color: #ebc2a4; 
	margin-top: 20px;
	height: auto;

}


.info{
	text-align: center;
	font-family: Arial;

}

.info h1{
	font-size: 40px;
	padding-top: 35px;
	font-weight:bold;

}


.info h2{
	font-size: 18px;
	color: white;
	font-weight: normal;
	margin-top: 25px;
}


.left{
	border-top: 3px black solid;
	border-right:3px black solid;
}

.right{
	border-top: 3px black solid;
	border-left: 3px black solid;
}

.left h4{
	font-size: 30px;
	font-weight:580;
	font-family:Arial;
	font-style:normal;
}

.right h4{
	font-size: 30px;
	font-weight:580;
	font-family:Arial;
	font-style:normal;
	margin-left: 15px;

}

.left h5{
	text-align: right;
	margin-right: 20px;
	font-size: 18px;
	font-weight:300;
	font-family:Arial;
	font-style:normal;

}

.left p{
	font-size: 18px;
	font-weight:750;
	font-family:Arial;
	font-style:normal;
	line-height: 0.5em;

}

.left ul{
	font-size: 18px;
	font-weight:normal;
	font-family:Arial;
	font-style:normal;
	line-height: 1.5em;
	margin-right: 15px;
	
}

.right ul{
	font-size: 18px;
	font-weight:normal;
	font-family:Arial;
	font-style:normal;
	line-height: 1.5em;
	
}


.right p{
	font-size: 18px;
	font-weight:normal;
	font-family:Arial;
	font-style:normal;
	line-height: 1.0em;
	margin-left: 20px;
}
